#graphpanel {
    border: solid black thin;
    width: 800;
    height: 550;
}
#editor {
    border: solid black thin;
    height: 100px;
    width: 500px
}

#toolbar {
    border: solid black thin;
    height: 32px; 
    width: 255px;
    /* //height: 30; */
}
